<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="./logo.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />
  <title>Innovative Development & Evaluation Associates - I.D.E.A.</title>
  <meta name="title" content="Innovative Development & Evaluation Associates - I.D.E.A.">
  <meta name="description" content="I.D.E.A. Consulting provides exemplary leadership to county and state-level systems, assisting them in designing programs, evaluating services, complying with federal and state regulations, and transforming systems to achieve positive outcomes.">
  <meta name="keywords" content="mental health, substance abuse, state services, gaps analysis, consulting, state database analysis">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />

  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Innovative Development & Evaluation Associates - I.D.E.A." />
  <meta property="og:description" content="I.D.E.A. Consulting provides exemplary leadership to county and state-level systems, assisting them in designing programs, evaluating services, complying with federal and state regulations, and transforming systems to achieve positive outcomes."
  />
  <meta property="og:url" content="https://www.ideaconsulting.us/" />
  <meta property="og:site_name" content="Innovative Development & Evaluation Associates" />
  <meta property="og:updated_time" content="2018-07-23T11:12:24+00:00" />
  <meta property="og:image" content="https://ideaconsulting.nyc3.digitaloceanspaces.com/web-resource/idea-og-meta.png" />
  <meta property="og:image:secure_url" content="https://ideaconsulting.nyc3.digitaloceanspaces.com/web-resource/idea-og-meta.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="I.D.E.A. Consulting provides exemplary leadership to county and state-level systems, assisting them in designing programs, evaluating services, complying with federal and state regulations, and transforming systems to achieve positive outcomes."
  />
  <meta name="twitter:title" content="Innovative Development & Evaluation Associates - I.D.E.A." />
  <meta name="twitter:image" content="https://ideaconsulting.nyc3.digitaloceanspaces.com/web-resource/idea-og-meta.png" />

</head>

<body>
  <div id="app"></div>
</body>

</html>